<footer>
    <p>&copy; Ticketlab 2014-{{ site.time | date: '%Y' }}. All rights reserved.</p>
</footer>
<!-- Bootstrap JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-resource/0.5.1/vue-resource.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/vendor/bootstrap.js"></script>
<script src="/js/app.js"></script>

